<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.lamport.tla.toolbox.tool.tlc.modelCheck">
    <stringAttribute key="configurationName" value="Model_1_SnapShot_1710931967228"/>
    <intAttribute key="distributedFPSetCount" value="0"/>
    <stringAttribute key="distributedNetworkInterface" value="147.127.133.10"/>
    <intAttribute key="distributedNodesCount" value="1"/>
    <stringAttribute key="distributedTLC" value="off"/>
    <intAttribute key="fpIndex" value="15"/>
    <intAttribute key="maxHeapSize" value="25"/>
    <stringAttribute key="modelBehaviorInit" value=""/>
    <stringAttribute key="modelBehaviorNext" value=""/>
    <stringAttribute key="modelBehaviorSpec" value="Spec"/>
    <intAttribute key="modelBehaviorSpecType" value="1"/>
    <stringAttribute key="modelBehaviorVars" value="msg, NotifyRead, Buffer, SenderIT, Got, NotifyWrite, Sent, ReceiverState, SenderState, ReceiverLive, SenderLive, ReceiverIT"/>
    <stringAttribute key="modelComments" value=""/>
    <booleanAttribute key="modelCorrectnessCheckDeadlock" value="false"/>
    <listAttribute key="modelCorrectnessInvariants">
        <listEntry value="1TypeOk"/>
        <listEntry value="1Integrity"/>
        <listEntry value="1Len(Got) &lt; 6"/>
    </listAttribute>
    <listAttribute key="modelCorrectnessProperties">
        <listEntry value="1ShutdownOK"/>
        <listEntry value="1Availability"/>
        <listEntry value="1NoLoss"/>
    </listAttribute>
    <intAttribute key="modelEditorOpenTabs" value="8"/>
    <stringAttribute key="modelExpressionEval" value=""/>
    <stringAttribute key="modelParameterActionConstraint" value=""/>
    <listAttribute key="modelParameterConstants">
        <listEntry value="MaxReadLen;;2;0;0"/>
        <listEntry value="MaxWriteLen;;2;0;0"/>
        <listEntry value="BufferSize;;2;0;0"/>
        <listEntry value="Byte;;1..5;0;0"/>
    </listAttribute>
    <stringAttribute key="modelParameterContraint" value="Len(Sent) &lt; 4"/>
    <listAttribute key="modelParameterDefinitions"/>
    <stringAttribute key="modelParameterModelValues" value="{}"/>
    <stringAttribute key="modelParameterNewDefinitions" value=""/>
    <intAttribute key="modelVersion" value="20191005"/>
    <intAttribute key="numberOfWorkers" value="2"/>
    <stringAttribute key="result.mail.address" value=""/>
    <stringAttribute key="specName" value="vchan"/>
    <stringAttribute key="tlcResourcesProfile" value="local custom"/>
</launchConfiguration>
