<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="com.cloveretl.gui.component">
      <component
            file="components.xml"
            id="com.cloveretl.gui.commercial.component">
      </component>
   </extension>
   <extension
         point="com.cloveretl.gui.enginePlugin">
      <enginePlugin
            classLoaderProvider="com.cloveretl.gui.commercial.plugin.CLProvider"
            directory="lib/plugins"
            id="com.cloveretl.gui.commercial.enginePlugin">
         <exportedPlugin
               pluginId="org.jetel.component.commercial">
         </exportedPlugin>
         <exportedPlugin
               pluginId="org.jetel.lookup.commercial">
         </exportedPlugin>
         <exportedPlugin
               pluginId="org.jetel.compiler.commercial">
         </exportedPlugin>
         <exportedPlugin
               pluginId="org.jetel.ctlfunction.commercial">
         </exportedPlugin>
         <exportedPlugin
               pluginId="org.jetel.tlfunction.commercial">
         </exportedPlugin>
      </enginePlugin>
   </extension>
   <extension
         point="com.cloveretl.gui.editor">
      
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIEmailMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIEmailMappingPropertyToolkit"
            name="emailMapping">
      </editor>
      
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIWSFaultMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.WSFaultMappingEditor"
            name="wsFaultMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIWSOperationNamePropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.WSOperationNameEditor"
            name="wsOperationName">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIWSRequestStructurePropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.WSRequestStructureEditor"
            name="wsRequestStructure">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIWSResponseMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.WSResponseMappingEditor"
            name="wsResponseMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIWSServiceNamePropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.WSServiceNameEditor"
            name="wsServiceName">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIStatefulTransformPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIStatefulTransformPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="statefulTransform">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIStatefulTransformMDPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIStatefulTransformMDPropertyToolkit"
            name="statefulTransformMetadata">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIStatefulTransformSPPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIStatefulTransformSPPropertyToolkit"
            name="statefulTransformSelectorProperties">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UITransformPivotPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.TransformPivotEditor"
            name="transformPivot">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UISpreadsheetSheetNamePropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UISpreadsheetSheetNamePropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringTypeDescriptorProvider"
            name="spreadsheetSheetName">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UISpreadsheetMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UISpreadsheetMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="spreadsheetMapping">
      </editor>
      <editor
      		class="com.cloveretl.gui.commercial.propertytoolkit.UIJsonMappingPropertyToolkit"
      		id="com.cloveretl.gui.commercial.propertytoolkit.UIJsonMappingPropertyToolkit"
      		typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
      		name="jsonReaderMapping">
      </editor>
      <editor
      		class="com.cloveretl.gui.commercial.propertytoolkit.UIJavaBeanMappingPropertyToolkit"
      		id="com.cloveretl.gui.commercial.propertytoolkit.UIJavaBeanMappingPropertyToolkit"
      		typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
      		name="javaBeanReaderMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIObjectIntrospectorPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIObjectIntrospectorPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="objectIntrospector">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIBeanWriterMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIBeanWriterMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="beanWriterMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIJsonWriterMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIJsonWriterMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="jsonWriterMapping">
      </editor>
      <editor
            class="com.cloveretl.gui.commercial.propertytoolkit.UIMapWriterMappingPropertyToolkit"
            id="com.cloveretl.gui.commercial.propertytoolkit.UIMapWriterMappingPropertyToolkit"
            typeDescriptorProviderClass="com.cloveretl.gui.model.descriptors.ExStringAsCDATATypeDescriptorProvider"
            name="mapWriterMapping"
      />
   </extension>
   <extension
         point="com.cloveretl.gui.lookupTable">
      <lookupTable
            class="com.cloveretl.gui.commercial.plugin.AspellLookupTablePlugin"
            id="com.cloveretl.gui.commercial.model.AspellLookupTable"
            name="%AspellLookupTable.name"
            type="aspellLookup">
      </lookupTable>
      <lookupTable
            class="com.cloveretl.gui.commercial.plugin.DBLookupTablePlugin"
            id="com.cloveretl.gui.commercial.model.DBLookupTable"
            name="%DBLookupTable.name"
            type="dbLookup">
      </lookupTable>
      <lookupTable
            class="com.cloveretl.gui.commercial.plugin.PersistentLookupTablePlugin"
            id="com.cloveretl.gui.commercial.model.PersistentLookupTable"
            name="%PersistentLookupTable.name"
            type="persistentLookup">
      </lookupTable>
      <lookupTable
            class="com.cloveretl.gui.commercial.plugin.RangeLookupTablePlugin"
            id="com.cloveretl.gui.commercial.model.RangeLookupTable"
            name="%RangeLookupTable.name"
            type="rangeLookup">
      </lookupTable>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%newWizards.category.name"
            id="com.cloveretl.gui">
      </category>
      <wizard
            name="%DBWizard.name"
            icon="icons/connection-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.dbconnection.DBWizard"
            id="com.cloveretl.gui.wizard.dbConnection.DBWizard">
         <description>
            %DBWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%MetadataByHandWizard.name"
            icon="icons/metadata-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.metadata.MetadataByHandWizard"
            id="com.cloveretl.gui.wizard.metadata.MetadataByHandWizard">
         <description>
            %MetadataByHandWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%SequenceWizard.name"
            icon="icons/sequence-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.sequence.SequenceWizard"
            id="com.cloveretl.gui.wizard.sequence.SequenceWizard">
         <description>
            %SequenceWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      
      <wizard
            name="%FlatFileWizard.name"
            icon="icons/metadata-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.metadata.flat.FlatFileWizard"
            id="com.cloveretl.gui.wizard.metadata.FlatFileWizard">
         <description>
            %FlatFileWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%DBMetadataWizard.name"
            icon="icons/metadata-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.metadata.db.DBMetadataWizard"
            id="com.cloveretl.gui.wizard.metadata.db.DBMetadataWizard">
         <description>
            %DBMetadataWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.metadata.xls.XlsMetadataWizard"
            icon="icons/metadata-external-16.png"
            id="com.cloveretl.gui.wizard.metadata.db.XlsMetadataWizard"
            name="%XlsMetadataWizard.name">
         <description>
            %XlsMetadataWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%DbfMetadataWizard.name"
            icon="icons/metadata-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.metadata.dbf.DbfMetadataWizard"
            id="com.cloveretl.gui.wizard.metadata.dbf.DbfMetadataWizard">
         <description>
            %DbfMetadataWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            name="%JmsWizard.name"
            icon="icons/jms-external-16.png"
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.jms.JmsWizard"
            id="com.cloveretl.gui.jms.JmsWizard">
         <description>
            %JmsWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
      <wizard
            category="com.cloveretl.gui"
            class="com.cloveretl.gui.wizard.lookupTable.LookupTableWizard"
            icon="icons/lookup-external-16.png"
            id="com.cloveretl.gui.wizard.lookupTable.LookupTableWizard"
            name="%LookupTableWizard.name">
         <description>
            %LookupTableWizard.description
         </description>
         <selection
               class="org.eclipse.core.resources.IResource">
         </selection>
      </wizard>
   </extension>
</plugin>
